<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Modelo de Loja</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

  <div class="container">

    <h1 class="page-header">Modelo de Loja</h1>

    <ul class="nav nav-pills">
      <li><a href="/">Home</a></li>
      <li>
        <a href="/cart">
          Carrinho
          <% if (cart.items.length) { %>
            <span class="badge"><%- cart.items.length %></span>
          <% } %>
        </a>
      </li>

      <% if (locals.auth) { %>
        <li class="disabled"><a>Olá, <%= locals.auth.name %>!</a></li>
        <li><a href="/logout">Sair</a></li>
        <% } else { %>
        <li><a href="/login">Login</a></li>
      <% } %>

    </ul>

    <hr>

    <%- body %>

  </div>

</body>

</html>